.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /*Style the number input*/
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s;
}


 /*Style the select */
.operator {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s;
}


/*Style the select option*/
.operator_option {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s;
}


/*Style the button */
.btn {
  margin: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s;
}


/*Style the button */
.result {
  padding: 10px;
  font-size: 16px;
  color: green;
}

/*Style the button */
.error {
  padding: 10px;
  font-size: 16px;
  color: red;
}

/* Style the number input on hover and focus */
input[type="number"]:hover,
input[name="operator"]:hover,
input[type="number"]:focus {
  border-color: #007bff;
}


/* Style the number input's placeholder text */
input[type="number"]::placeholder {
  color: #999;
}

/* Style the number input when it's disabled */
input[type="number"]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
